<div class="container-fluid">
    <main>
        <div class="card order">
          <h2><ion-icon name="cart-outline" style="width: 40px; height: 40px;"></ion-icon></h2>
          <p>Orders <span >{{ orderLength }}</span></p>
        </div>
        <div class="card product">
          <h2><ion-icon name="briefcase-outline" style="width: 40px; height: 40px;"></ion-icon></h2>
          <p>Products <span><h2>{{ productLength }}</h2></span></p>
        </div>
        <div class="card user">
          <h2><ion-icon name="people-outline" style="width: 40px; height: 40px;"></ion-icon></h2>
          <p>Users <span><h2>{{ userLength }}</h2></span></p>
        </div>
        <div class="card sale">
            <h2><ion-icon name="logo-usd" style="width: 40px; height: 40px;"></ion-icon></h2>
            <p>Total Sales <span><h2>{{ totalSales }}</h2></span></p>
          </div>
      </main>
</div>
<!-- <div class="row parent">
    <div class="col dash" >
        1
    </div>
    <div class="col dash">
        2
    </div>
    <div class="col dash">
        3
    </div>
    <div class="col dash" >
        4
    </div>
</div> -->