.parant{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    height: auto;
}
.child{
    margin-top: 50px;
    width: 700px;
    height: auto;
    background: linear-gradient(rgb(108, 46, 209), rgb(236, 255, 60));
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
}
input, label,  textarea{
    margin-top: 10px;
    margin-bottom: 10px;

}
input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 1px solid red ;
  }